* {
    box-sizing: border-box;
}

body {
    background-color: mediumspringgreen;
    color: black;
}

.border,
.outline {
    background-color: yellow;
    width: 100px;
    padding: 10px 20px;
    margin: 50px 100px;
}

.border {
    border: 2px solid lightcoral;
}

.outline {
    outline: 3px solid lightcoral;
    outline-offset: -13px;
    border: 5px solid lightgreen;
}